/* Importar estilos a iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colores */
:root{
    --bg-color: #EDF2F4;
    --text-color: #000;
    --main-color: #8390fa;
    --second-color: #272936;
    --header-color: #fff;
    --logo-color: #2B2D42;
    --bestSeller-color: #008000;
    --sales-color: #D90429;
    --hover-color: #8D99AE;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    background-color:  var(--bg-color);
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    padding: 20px 4%;
    transition: all .50s ease;
}
.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 5rem;
    transition: all .3s ease;
}
.logo:hover {
    transform: scale(1.05);
    color: var(--text-color);
}
.navbar {
    display: flex;

    a {
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: 500;
        padding: 5px 0;
        margin: 0 20px;
        transition: all .50s ease;
    }
    a.sales {
        color: var(--sales-color);
        font-size: 1.2rem;
    }  
    a.best-seller {
        color: var(--bestSeller-color);
        font-size: 1.2rem;
    }
}
.main-nav{
    display: flex;
    align-items: center;

    a {
        color: var(--text-color);
        margin-right: 14px;
        margin-left: 5px;
        font-size: 1.5rem;
        transition: all .50s ease;
        align-items: center;
    }
}
.favorites-btn i {
    margin-right: 15px;
}
.cart-btn i {
    margin-right: 6.5rem;
}
.main-nav .sign-in,
.main-nav .register {
    font-size: 1rem;
}
header a:hover{
    color: var(--hover-color);
}
#menu-icon {
    font-size: 1.75rem;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
    transition: all .175s ease;
}
#menu-icon:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

/* First view page */
main {
    margin-top: 5em;
    transition: all .50 ease;
}
.new-choose-bar {
    background-color: var(--main-color);
    text-align: center;
    padding: .75em 0;

    a {
        color: var(--header-color);
        font-size: .9rem;
    }
    a:hover {
        text-decoration: underline;
    }
}
.container-collage-shoes {
    position: relative;
    width: 100%;
    height: 38vw;
    padding: 4em 0;
}
.slogan-phrase {
    position: absolute;
    text-align: center;
    width: 35%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(.5em, 1.9vw, 5em);

    .word-1 {
        font-family: "Playfair Display", serif;
        font-weight: 600;
        color: #f94144;
    }
    .word-2 { 
        font-family: "Dancing Script", cursive;
        font-weight: 100;
        color: #8390fa;
    }
    .word-3{
        font-family: "Cinzel", serif;
        font-weight: 600;
        color: #fac748;
    }
}
.container-logo-img {
    width: 12%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.container-air-force {
    position: absolute;
    top: 5%;
    width: 28.5%;
    left: 11%;
    transform: rotate(35.52deg);
}
.container-new-balance {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 8%;
    transform: rotate(10.8deg);
}
.container-forum {
    position: absolute;
    width: 34%;
    top: 32%;
    left: 32.5%;
    transform: rotate(-36.65deg);
}
.container-jordan {
    position: absolute;
    width: 30%;
    top: 5%;
    right: 7.5%;
    transform: rotate(20.03deg);
}
.container-vomero {
    position: absolute;
    width: 29%;
    right: 20%;
    top: 35%;
    transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
}
.logo-img,
.shoe-img {
    width: 100%;
}

/* Sort, Filters part */
.phrase-sort-filters {
    display: flex;
    justify-content: space-between;
    width: 80%;
    transition: all .3s ease;
}
.phrase-page-shoes {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}
.sort-filter-list {
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
    width: 40%;
    transition: all .3s ease;
}
.sort-filter-button {
    border: 2px solid var(--main-color);
    color: #000;
    font-weight: 600;
    align-self: flex-end;
    padding: .75em 4em;
    cursor: pointer;
    border-radius: .25em;
    transition: all .3s ease;
}
.sort-filter-button:hover {
    background-color: var(--main-color);
    color: #fff;
}
/* Div Sort, Filters */
.container-list {
    display: flex;
    flex-direction: column;
    gap: .1em;
}
.list {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 3.5em .1em;
    padding: 1em 1.5em;
    background-color: var(--second-color);
    border-radius: .25em;
    opacity: 0;
}
.show {
    opacity: 1;
}
.anchoor-list {
    color: #fff;
    font-weight: 500;
    transition: all .3s ease;
}
.anchoor-list:hover {
    color: var(--hover-color);
}

/* Page shoes */
.general-shoes-section {
    align-items: center;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Shoes */
.container-all-shoes {
    display: grid;
    width: 80%;
    min-width: 60vh;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    transition: all .3s ease;
}
.container-each-shoe {
    /* width: 300px;
    height: 300px; */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em 1em;
    text-align: left;
    border: 2px solid var(--second-color);
    border-radius: .25em;
}
.container-each-shoe-img {
    align-self: center;
    padding: 1em;
    width: 90%;
    border: solid 2px #008000;
}
.img-each-shoe {
    width: 100%;
}
.information-shoe {
    align-self: center;
    align-items: flex-start;
    width: 90%;
}
.container-wish-add {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 90%;
}
.buttons-wish-add {
    border: 2px solid var(--main-color);
    color: #000;
    font-weight: 600;
    padding: .25em;
    cursor: pointer;
    text-align: center;
    width: 40%;
    border-radius: .25em;
}
.buttons-wish-add:hover {
    background-color: var(--main-color);
    color: #fff;
}
@media (max-width: 1280px) {
    header {
        padding: 12px 2%;
        transition: .2s;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
    main {
        margin-top: 4em;
        transition: .2s;
    }
    .new-choose-bar {
        padding: .25em 0;
        transition: .2s;
    }
}
@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        background-color: var(--header-color);
        border: 2px solid var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover {
        transform: translateY(5px);
    }
    .navbar.open {
        right: 2%;
    }
    .cart-btn i {
        margin-right: 3rem;
    }
    .container-all-shoes {
        grid-template-columns: repeat(2, 1fr);
    }
    .phrase-sort-filters {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .sort-filter-list {
        width: 100%;
        justify-content: flex-start;
    }
}